body {
    background-color: rgb(85, 195, 232);
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.txt {
    display: flex;
    font-size: 100px;
    font-weight: 600;
    width: 200px;
    height: 200px;
    background-color: black;
    justify-content: center;
    border: 3px solid white;
    color: darkcyan;
    border-radius: 5px;
    box-shadow: 5px 10px #888888;
}

.center {
    display: flex;
    justify-content: center;
}

.size {
    border: 2px solid black;
    height: 50px;
    width: 200px;
    margin: 20px;
    background-color: darkcyan;
    box-shadow: 5px 10px #888888;
    border-radius: 5px;
}

.centerBoxes {
    display: flex;
    justify-content: space-between;

}

.size p {
    color: #fff;
}